<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tác Vụ</title>
</head>
<body>
    <div>
        <form action="/next" method="POST" enctype="multipart/form-data">
            <input type="number" name="id" placeholder="Mã bài báo"  />
            <input type="text" name="tenBaiBao" placeholder="Tên bài báo"  />
            <input type="text" name="tenNhomTacGia" placeholder="Tên tác giả"  />
            <input type="text" name="chiSoIBN" placeholder="Chỉ số ISBN" />
            <input type="number" name="soTrang" placeholder="Nhập số trang"  />
            <input type="number" name="namXuatBan" placeholder="Năm xuất bản"  />
            <input style="margin-left:5px;color: aliceblue;background-color: green;" type="submit"
                value="Thêm sản phẩm mới" />
        </form>
    </div>
</body>
</html>